
<div class="container">
  <div class="table-responsive-sm">          
    <h1 style="text-align: center;color: blueviolet"><u>NEW CAF</u></h1>
    <table class="table">
        <thead>
          <tr>
            <th> CAF No</th>
            <th>Date </th>
            <th>Place</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          
            <td><input  formControlName="un" class="form-control" BsDatepicker placeholder="Applicant Name"></td>
            <td><input type="date"formControlName="un" class="form-control"  placeholder="DOB : DD/MM/YYYY"></td>
            <td><input  formControlName="un" class="form-control" placeholder="Father/Mothers Name"></td>
          </tr>
          <tr>
            <td><input  formControlName="un" class="form-control" placeholder="Installation Address"></td>
          
            <td colspan="2"><input  formControlName="un" class="form-control" placeholder="Google location"></td>
          </tr>
          <tr>
            <td><input  formControlName="un" class="form-control" placeholder="CITY"></td>
            <td><input  formControlName="un" class="form-control" placeholder="State"></td>
            <td><input  formControlName="un" class="form-control" placeholder="PIN Code"></td>
          </tr>
          <tr>
            <td><input  formControlName="un" class="form-control" placeholder="Contact No Resi"></td>
            <td><input  formControlName="un" class="form-control" placeholder="Contact No.Office"></td>
            <td><input  formControlName="un" class="form-control" placeholder="Mobile"></td>
          </tr>
          <tr>
            <td><input  formControlName="un" class="form-control" placeholder="Email Id"></td>
            <td><input  formControlName="un" class="form-control" placeholder="PAN/GST"></td>
          </tr>
          <tr>
            <td colspan="2"><input  formControlName="un" class="form-control" placeholder="Permanet Address"></td>
              </tr>
            <tr><td>  <div class="form-group">
                  <label for="sel3">Plan Details</label>
                  <select class="form-control input-sm" id="sel3" placeholder="plan">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
              </td></tr>
              <tr><td>  <div class="form-group">
                  <label for="sel3">Plan Duration</label>
                  <select class="form-control input-sm" id="sel3" placeholder="plan">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
              </td></tr>
              <tr><td>  <div class="form-group">
                  <label for="sel3">Payment</label>
                  <select class="form-control input-sm" id="sel3" placeholder="plan">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
              </td></tr>
              <tr><td>  <div class="form-group">
                  <label for="sel3">Amount</label>
                  <select class="form-control input-sm" id="sel3" placeholder="plan">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
              </td></tr>
          
          <tr>
              <div class="form-group;form-control">
                  <input type="file"  name="file">
                </div>
                </tr>
                <tr>
                    <div class="form-group;form-control">
                        <input type="file"  name="file">
                      </div>
                      </tr>
                      <tr>
                          <div class="form-group;form-control">
                              <input type="file"  name="file">
                            </div>
                            </tr>
                            &nbsp;
                          <h6>Coustemer Declaration</h6>
       <pre>        I have read & understood the terms and conditions and agree to abide by them.</pre>
       <tr>
         <td> <input  formControlName="un"  placeholder="Enter OTP ">
          &nbsp;<button type="button" class="btn btn-primary">Send OTP</button>
         </td>
        <td></td>
        <td></td>
      </tr>
     </tbody>
      </table>
      <div style="text-align: center">
          <button type="submit" class="btn btn-primary" >submit</button>
       &nbsp;&nbsp; <button type="reset" class="btn btn-primary" >Reset</button>
       </div>
</div><br>
<footer style="text-align: center">@Seans Media Pvt Ltd</footer>
