<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"><strong style="color: rgb(43, 153, 226);font-size: 40px">Sales App</strong></p>
<br><form [formGroup]='frm'>
    <input  formControlName="un" class="form-control" placeholder="Username">
    <div *ngIf="username.invalid && (username.dirty || username.touched )"> 
      <div *ngIf="username.hasError('required')"  style="color:red">Enter username </div>
      </div>
   <input  type="password" formControlName="pwd" class="form-control" placeholder="Password">
    <div *ngIf="password.invalid && (password.dirty || password.touched )"> 
      <div *ngIf="password.hasError('required')" style="color:red">Enter Password </div>
    </div>
    <div id="remember" class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="onSubmit()" >Sign in</button>
 </form>
  <a href="#" class="forgot-password">
      Forgot the password?
  </a>
  <div class="text-danger pull-left">{{Status}}</div>

</div><!-- /card-container -->
</div>
<footer style="text-align: center">
    @seans Media Pvt ltd
</footer>