<div class="container">
    <div class="table-responsive-sm">          
        <h1 style="text-align: center;color: blueviolet"><u>CAF Status</u></h1>
         <br>  
        <table class="table">
          <thead>
            <tr>
              <th> CAF No</th>
              <th>Date </th>
              <th>Coustemer Status</th>
              <th>InstDate</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
               <td>2</td>
               <td>2</td>
               <td>1</td>
               <td>2</td>
               <td>5</td>
      </tr>
      <tr>
        <td>2</td>
        <td>2</td>
        <td>1</td>
        <td>2</td>
        <td>5</td>
</tr>

 </tbody>
 </table>    
 </div>
 <br>
 <footer style="text-align: center">@Seans Media Pvt Ltd</footer>
